<article class="article" id="article-about-me">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Information</b>
            </h1>
            <h1 class="subtitle">
              Hello, I'm Weiwei
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">
        <p>
            Born in California, raised in Shanghai, Weiwei is originally from Taiwan, who is now studying Interaction Design at California College of the Arts in San Francisco, California.
        </p>
        <p>
            Previously, as the first designer to join co-working space and accelerator <a href="http://thexnode.com" target="_blank">XNode</a> in China, her focus was on internal and external vision communication through delivering weekly design digests
            to the team, produced creative promotional materials for external use and wrote articles for their publication.
        </p>
        <p>
            She’s also an alumnus and founding member of <a href="http://www.aiga.org/medalist-john-bielenberg" target="_blank">John Bielenberg’s</a> experimental education program <a href="http://www.thinkwrong.world" target="_blank">Secret Project</a>,
            where she explores pathways to inspire and support individuals through the process of <a href="http://www.thinkwrongbook.com" target="_blank">Thinking Wrong</a> by working with progressive schools in San Francisco and Taiwan.
        </p>
        <p>
            Weiwei explores the relationship between humans and the environment. She desires to decipher what it means to coexist with the environment she is in. She works in the medium that’s most appropriate for the goal and applies fundamental theories on communication
            to a host of challenging and important entangled messes - such as climate change and education system - without fear, favor, or jargon.
        </p>
        <table padding-top="18px" style="align-content:center;" >
            <tr>
                <td>
                    <a href="https://www.facebook.com/monij.hsu" >Facebook  </a>
                    <td>
                        <a href="https://twitter.com/@weiweihsu_">Twitter </a>
                    </td>
                    <td>
                        <a href="https://www.linkedin.com/in/weiweihsu">LinkedIn  </a>
                    </td>
                    <td>
                        <a href="https://www.instagram.com/monijz/">Instagram </a>
                    </td>

                    <td>
                        <a href="mailto:monij.hsu@gmail.com" subject=subject Hello>Email</a>
                    </td>
            </tr>
        </table>
    </div>


</article>
