<article class="article" id="article-about-me">

    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Information</b>
            </h1>
            <h1 class="subtitle">
              Hello, I'm Weiwei. I design and facilitate experiences.
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
            <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">
        <p>
            Born in California, raised in Shanghai, I was originally from Taiwan, and is currently studying Interaction Design at California College of the Arts in San Francisco, California.
        </p>
        <p>
            Previously, as the first designer to join co-working space and accelerator <a href="http://thexnode.com" target="_blank">XNode</a> in China, I focused on internal and external communication of company’s vision through delivering weekly design digests to the team, producing creative promotional materials and writing articles for their publication.
        </p>
        <p>
            I am also an alumnus and founding member of <a href="http://www.aiga.org/medalist-john-bielenberg" target="_blank">John Bielenberg’s</a> experimental education program <a href="http://www.thinkwrong.world" target="_blank">Think Wrong Institute</a> (formerly Project M), where we explore pathways to inspire and support individuals through the process of <a href="http://www.thinkwrongbook.com" target="_blank">Thinking Wrong</a> by working with progressive schools in San Francisco and Taiwan.
        </p>
        <p>
            I learn, work, and play to decipher what it means to coexist with the environment she is in. I also work in the medium that’s most appropriate for the goal and apply fundamental theories on communication
            to a host of challenging and important entangled messes - such as climate change and education system - without fear, favor, or jargon.
        </p>

    <br>
        <p><b>A drawing of my focuses</b></p>
                <img src="assets/img/cube.jpg" width="100%">
    <br>
        <p>
            <a href="mailto:wei@weiweihsu.com" subject=subject Hello>Email</a> |
              <a href="/assets/docs/WeiweiHsu_CV.pdf">Resume</a>
        </p>
<br>
        <p><a href="https://www.facebook.com/monij.hsu">Facebook</a> |
              <a href="https://twitter.com/@weiweihsu_">Twitter</a> |
              <a href="https://www.linkedin.com/in/weiweihsu">Linkedin</a> |
              <a href="https://www.instagram.com/monijz/">Instagram</a>

        </p>
    </div>
    <br>
    <br>
    <br>



</article>
