<article class="article" id="article-archive">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Archive</b>
            </h1>
            <h1 class="subtitle">

            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

      <h1>😮</h1>

</div>
</article>
