<article class="article" id="article-archive">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Archive</b>
            </h1>
            <h1 class="subtitle">

            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

      <h1>
          <h1>Introduction</h1>
          <p>There has been several small projects that I have worked on aside from my main focuses. As an archive, I am only showing the final outcome of the project.</p>
          <img src="assets/img/archive-1.png" style="width:100%">
          <!-- <div class="text">Event poster for IxDA at CCA</div> -->
          <img src="assets/img/archive-2.png" style="width:100%">
      </h1>

      <iframe height="315" src="https://www.youtube.com/watch?v=OR8m0WLs73s" style="width:100%;height:450px" frameborder="0" allowfullscreen></iframe>
    <p>How looking into your eyes allowed me to be one step closer to you.</p>    


</div>
</article>
