<article class="article" id="article-bridge">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Button Smashing</b>
            </h1>
            <h1 class="subtitle">
                An attempt to imagine a massive multiplayer offline game
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <p><i>Empowering people to meet new people by competing with their best friend.</i></p>
<br><br>
        <table style="width:100%;">
                    <tr>
                        <th style="width:33%; padding-bottom: 5px;">Project Info</th>
                        <th style="width:33%; padding-bottom: 5px;">Skills</th>
                        <th style="width:33%; padding-bottom: 5px;"></th>
                    </tr>
                    <tr>
                        <td style="width:33%;">4 Weeks Project</td>
                        <td style="width:33%;">Research</td>
                        <td style="width:33%;"></td>
                    </tr>
                    <tr>
                        <td style="width:33%;">Object & Space class</td>
                        <td style="width:33%;">Prototyping</td>
                        <td style="width:33%;"></td>
                    </tr>
                    <tr>
                        <td style="width:33%;">Interaction Design at CCA</td>
                        <td style="width:33%;">Interaction Design</td>
                        <td style="width:33%;"></td>
                    </tr>
        </table>

<br><br><br><hr><br><br><br>

        <h1>Introduction</h1>
        <p>It is very easy for us to cling to technology devices when in awkward social situations. Having a reason to initiate a conversation can often make the process simple.</p>
        <h1>Focus</h1>
        <p>Understand effective ways to encourage simple social interactions. Prototype a proof of concept with accessible materials and tools such as laser cutting and <a href="https://www.particle.io/products/hardware/photon-wifi-dev-kit">photon</a>.</p>

        <h1>Approach</h1>

        <p>Content synthesis from interviews with two Industrial Design third-years. Because they have very specific habits of avoiding social interactions besides interactions with each other, we wanted to increase the possibility of them interacting with classmates in school.</p>
        <img src="assets/img/button-up-1.png" alt="System Map" width="100%">
<br>
        <p><b>Narrowing the idea</b></p>
        <p>We decided to make a simple game that is Internet-connected. Each player can invite anyone to play a 30-second button-smashing game. If the winner is the owner of the game, a text message will be sent to his or her partner, informing them of the win and encouraging the partner to try to beat him or her.</p>
<br>
        <p><b>Prototyping</b></p>
        <p>The process involved 3d modeling the appearance of the game, building and testing the electronics, and having the device to text the other partner's phone via IFTTT. </p>
        <iframe width="100%" height="460" src="assets/slideshows/button-up-test/index.html" frameborder="0" allowfullscreen></iframe>
<br>
        <p><b>Assembling</b></p>
        <p>After experiementing with several versions enclosures, and refining the code for the game, everything was then assembled.</p>
        <iframe width="100%" height="460" src="assets/slideshows/button-up-unit/index.html" frameborder="0" allowfullscreen></iframe>

<br>
        <p><b>Demo</b></p>
        <iframe width="100%" height="460" src="https://www.youtube.com/embed/ZESe9RQaw3s" frameborder="0" allowfullscreen></iframe>
        <h1>Next</h1>
        <p>The element of play can certainly dial up the joy in the world. This project definitely shed light on the possibility to weave play into different types of interfaces both offline and online.</p>
    </div>
</article>
