<article class="article" id="article-creative-caravan">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Creator Caravan</b>
            </h1>
            <h1 class="subtitle">
                A travel experience for eager learners
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>Creator Caravan is a service that curates informative and educational tour experiences for global nomads. From arrival to departure your trip is curated, safe, and enjoyable.</p>
        <h1>Focus</h1>
        <p>Just as in any language, speaking smoothly in visual language takes practice, and encapsulating a company’s mission and disposition requires resonation. Building a cohesive language for three touch-points that will exist in different cultural and historical backgrounds required me to improve my eye for freshness, adaptability, and flexibility.</p>
        <h1>Approach</h1>
        <p>Creating a logo that conveys the liveness of traveling while maintaining a cute, but not childish quality.</p>

        <img src="assets/img/creator-caravan-3.jpg" style="width:100%">
        <div class="text">Creating a logo that conveys the liveness traveling while maintaining a cut, but not childish quality.</div>
        <br>
        Creating a logo that conveys the liveness traveling while maintaining a cut, but not childish quality.
        <div class="text">Finding the right blend of modern and exotic culture.</div>

        <img src="assets/img/creator-caravan-6.jpg" style="width:100%">

        <tr>
            <td>
                <img src="assets/img/creator-caravan-3.jpg" style="width:100%">
                <div class="text">Communicating the value through touch-points.</div>
            </td>
            <td>
                <img src="assets/img/creator-caravan-4.jpg" style="width:100%">
                <div class="text">From sketches to pixels</div>
            </td>

        </tr>
    </table>

        <!-- <p><b>OTHER</b></p> -->
        <!-- <p>see keynote and gretl</p> -->

        <iframe width="100%" height="470" src="assets/slideshows/creator-caravan-book/index.html" frameborder="0" allowfullscreen></iframe>
        <!-- <p><b>OTHER</b></p> -->
        <!-- <p>see keynote and gretl</p> -->
        <iframe width="100%" height="470" src="assets/slideshows/creator-caravan/index.html" frameborder="0" allowfullscreen></iframe>


        <h2>Approach</h2>
        <!-- <p>see keynote and gretl</p> -->

        <h1>Next</h1>
        <p>Creating a conceptual and visual thread to unify touch points while maintaining an identity and a sense of uniqueness" was the standard that I continuously checked against my progress. Since this project, I have had a realization of the importance of scaling, and have thus moved toward exploring a much greater breadth of tools, specifically in those that can assisting in scaling.  </p>
    </div>
</article>
