<article class="article" id="article-creative-sketches">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Creative Sketches</b>
            </h1>
            <h1 class="subtitle">
                Exploring visual pathways
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>When I decided to hone my skills in communicating in visual languages, I took on small challenges from time to time in order to transition between mediums seamlessly in the future.</p>

        <h1>Focus</h1>
        <p>Some promote specific events, some summarize conversations, and others simply demonstrate an exploration.</p>

        <!-- <h1>Approach</h1> -->
        <!-- <p>Label different explorations.</p> -->
        <br>
        <p><b>Maxon Cinema 4D</b></p>
        <!-- <p>Label different explorations.</p> -->


        <table>
            <tr>
                <td>
                    <!-- <video preload="auto" loop class="video2" poster="023.png" style="width:100%"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video2" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster2.png">
                      <source src="assets/video/creative-sketches-2.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video preload="auto" loop class="video3" poster="assets/img/creative-sketches-poster3.png" style="width:100%"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video3" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster3.png">
                      <source src="assets/video/creative-sketches-3.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video preload="auto" loop class="video4" poster="assets/img/creative-sketches-poster2.png" style="width:100%" controls src="assets/video/creative-sketches-4.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video4" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster4.png">
                      <source src="assets/video/creative-sketches-4.mp4" type="video/mp4" />
                  </video>
                  </video>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- <video preload="auto" loop class="video5" style="width:100%" controls src="assets/video/creative-sketches-5.mp4" type="video/mp4"> -->
                    <video class="video5" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster5.png">
                      <source src="assets/video/creative-sketches-5.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video loop class="video6" style="width:100%" controls src="assets/video/creative-sketches-6.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video6" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster6.png">
                      <source src="assets/video/creative-sketches-6.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video loop class="video7" style="width:100%" controls src="assets/video/creative-sketches-7.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video7" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster7.png">
                      <source src="assets/video/creative-sketches-14.mov" type="video/mov" />
                  </video>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- <video loop class="video8" style="width:100%" controls src="assets/video/creative-sketches-8.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video8" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster8.png">
                      <source src="assets/video/creative-sketches-8.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video loop class="video9" style="width:100%" controls src="assets/video/creative-sketches-9.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video9" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster9.png">
                      <source src="assets/video/creative-sketches-9.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video loop class="video10" style="width:100%" controls src="assets/video/creative-sketches-10.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video10" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster10.png">
                      <source src="assets/video/creative-sketches-10.mp4" type="video/mp4" />
                  </video>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- <video loop class="video11" style="width:100%" controls src="assets/video/creative-sketches-11.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video11" class="video10" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster11.png">
                      <source src="assets/video/creative-sketches-11.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video loop class="video12"style="width:100%" controls src="assets/video/creative-sketches-12.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video12" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster12.png">
                      <source src="assets/video/creative-sketches-12.mp4" type="video/mp4" />
                  </video>
                </td>
                <td>
                    <!-- <video loop class="video13" style="width:100%" controls src="assets/video/creative-sketches-13.mp4" type="video/mp4"> -->
                    <!-- <div class="text">Taiwan summer blitz</div> -->
                    <video class="video13" autoplay loop preload="auto" poster="assets/img/creative-sketches-poster13.png">
                      <source src="assets/video/creative-sketches-13.mp4" type="video/mp4" />
                  </video>
                </td>
            </tr>
        </table>

      <!-- <p> <b>NOT PROVIDED</b></p> -->
        <!-- <p>Label different explorations.</p> -->
<br><br>
        <p><b>Adobe Photoshop</b></p>
        <p>In an environment like school, events and classes sometimes receive less attention than they deserve. Learning how to dial the attractiveness of information becomes essential.</p>
        <div class="photo-max">
        <table>
            <tr>
                <td>
                    <img src="assets/img/creative-sketches-poster1.jpg" style="width:100%">
                    <div class="text">Event poster for IxDA at CCA</div>
                </td>
                <td>
                    <img src="assets/img/creative-sketches-poster2.jpg" style="width:100%">
                    <div class="text">Event poster for IxDA at CCA</div>
                </td>
            </tr>
            <br>
            <td>
                <img src="assets/img/creative-sketches-poster4.jpg" style="width:100%">
                <div class="text">Poster for class promotion</div>
            </td>
            <td>
                <img src="assets/img/creative-sketches-poster5.jpg" style="width:100%">
                <div class="text">Poster for class promotion</div>
            </td>
            </tr>
            <br>
            <tr>
                <td>
                    <img src="assets/img/creative-sketches-poster6.jpg" style="width:100%">
                    <div class="text">Visualizing home for those who traveled frequently</div>
                </td>
                <td>
                    <img src="assets/img/creative-sketches-poster7.jpg" style="width:100%">
                    <div class="text">Visualizing home for those who traveled frequently</div>
                </td>
            </tr>
        </table>
        <br>
        <img src="assets/img/creative-sketches-map5.png" style="width:100%">
        <div class="text">A map that shows my relationship with four friends</div>
      </div>

        <!-- <p><b>NOT PROVIDED</b></p> -->
        <!-- <p>It is a photo editing and manipulation software.</p> -->
<br><br>
        <p><b>UCSF Chimera</b></p>
        <p>Producing creative content with existing componenets has proven to be an insightful way to test new combinations of elements. </p>

        <img src="assets/img/creative-sketches-chimera.gif" style="width:100%; height:100%;">
        <div class="text">A visualization of a broken protein</div>
        <p>Chimera is a program for interactive visualization and analysis of molecular structures. You can learn more about it <a href="http://www.cgl.ucsf.edu/chimera/">here</a>. </p>

<br>
        <h1>Next</h1>
        <p>The ability to create visible evidences is extremely powerful. In the future, there will be an emphasis on enhancing my skills in creating interactive hardware and software to communicate intricate / delicate messages.</p>
    </div>
</article>
