<article class="article" id="article-cyborg">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Posthuman</b>
            </h1>
            <h1 class="subtitle">
                Confronting the unknown future with ethics
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>Very often, incremental progresses are made in ways that neglect our responsibility of the power of accumulation. This project explored and challenged my level of comfort with the notion of direct manipulation of living creatures, specifically humans. </p>
        <h1>Focus</h1>
        <p>There are two briefs:
            <ol><li>Braino: prototype a portable device that would allow anyone to erase the last 1 - 5 ideas they had. </li>
                <li>Cyborg: prototype a scenario where we can embed any existing sensor under someone’s skin. </li></ol></p>
                 <p>I chose to embrace one and push back on the other in order to undergo the thinking process when stretching ethical meanings.</p>

        <h1>Approach</h1>
        <p>Braino: to lend credibility to a breakthrough technology, the appearance of the product plays an important role.</p>
        <p>Cyborg: to communicate the great uncertainties in this area, a video sketch can express our concerns as a team of three adequately.</p>

        <p><b>Braino</b></p>
        <p>This device allows the instant retraction of ideas you wish you hadn’t come up with, and also frees room for many more ideas. I generated alternative forms for Braino, and took the best concept to a finished appearance model.</p>
        <table>
            <tr>
                <td>
                    <img src="assets/img/transcend-3.png" style="width:100%">
                    <div class="text"><br>Form explorations</div>
                </td>
                <td>
                    <img src="assets/img/transcend-1.jpg" style="width:100%">
                    <div class="text">Sketch models</div>
                </td>
            </tr>
        </table>
        <img src="assets/img/transcend-4.jpg" style="width:100%">
        <div class="text">Refined prototype</div>
        <img src="assets/img/transcend-2.jpg" style="width:100%" padding-bottom="200px" padding-top="200px">
        <div class="text">Promotional poster of braino the idea eraser</div>
        <br><br>
        <p><b>Cyborg</b></p>
        <p>What if there is a technology that can take any existing sensor and embed it under someone’s skin. The technology uses energy from the body to keep the sensor powered, and can connect wirelessly to existing smart devices or cloud-based systems. The goal of this project was to research, explore and test ideas to help the client figure out what they should do with this new technology.</p>

        <table>
            <tr>
                <td>
                    <img src="assets/img/transcend-7.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-8.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-9.jpg" style="width:100%"> </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/transcend-10.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-11.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-12.jpg" style="width:100%"> </td>
            </tr>
        </table>
        <!-- <b>hello</b> -->
        <table>
            <tr>
                <td>
                    <img src="assets/img/transcend-5.jpg" style="width:100%">
                    <div class="text">Generating ideas toward four How Might We</div>
                </td>
                <td>
                    <img src="assets/img/transcend-6.jpg" style="width:100%">
                    <div class="text">Laying out ideas based on practicality and impact</div>
                </td>
            </tr>
        </table>
        <br><br>
        <iframe width="100%" height="470px" src="https://www.youtube.com/embed/zKzs3tDoRsA" frameborder="0" allowfullscreen></iframe>

        <p>Cyborg is a project with <a href="http://saberism.com/others" target="_blank">Saber Zhang</a>, <a href="https://www.behance.net/Kumbrick" target="_blank">Moses Maynez under <a href="http://www.haakonfaste.com" target="_blank">Haakon Faste</a>. </p>

        <h1>Next</h1>
        <p>Technology as a tool is powerful in ways that are often overlooked. Becoming incredibly aware of the pathways we eliminate through decision-making needs to become as natural as an intuition would be.</p>






    </div>
</article>
