<article class="article" id="article-cyborg">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Cyborg</b>
            </h1>
            <h1 class="subtitle">
                Confronting the unknown future with ethics
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>Very often, incremental progresses are made in ways that we neglect the power of accumulation. This project explored and challenged the my comfortability with the notion of direct manipulation of living creatures, specifically humans.</p>
        <h1>Focus</h1>
        <p>There are two briefs: Allowing anyone to erase the last 1 - 5 ideas they’ve had with a portable device, and embedding any existing sensor under someone’s skin. I chose to embrace one and push back on the other in order to undergo the thinking process when stretching ethical meanings.</p>
        <h1>Approach</h1>
        <p>To lend credibility to a breakthrough technology, the appearance of the product plays an important role. / To communicate the great uncertainties in this area, a video sketch can express our concerns adequently.</p>

        <p><b>Braino</b></p>
        <p>A portable device that erases the last 1 - 5 ideas.</p>
        <table>
            <tr>
                <td>
                    <img src="assets/img/transcend-3.png" style="width:100%">
                    <div class="text">Form explorations</div>
                </td>
                <td>
                    <img src="assets/img/transcend-1.jpg" style="width:100%">
                    <div class="text">Sketch models</div>
                </td>
            </tr>
        </table>
        <img src="assets/img/transcend-4.jpg" style="width:100%">
        <div class="text">Refined prototype</div>
        <img src="assets/img/transcend-2.jpg" style="width:100%" padding-bottom="200px" padding-top="200px">
        <div class="text">Promotional poster of braino the idea eraser</div>
        <br><br>
        <p><b>Cyborg</b></p>
        <p>Looking at applications of embedding sensors in us.</p>

        <table>
            <tr>
                <td>
                    <img src="assets/img/transcend-7.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-8.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-9.jpg" style="width:100%"> </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/transcend-10.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-11.jpg" style="width:100%"> </td>
                <td>
                    <img src="assets/img/transcend-12.jpg" style="width:100%"> </td>
            </tr>
        </table>
        <!-- <b>hello</b> -->
        <table>
            <tr>
                <td>
                    <img src="assets/img/transcend-5.jpg" style="width:100%">
                    <div class="text">Generating ideas toward four How Might We</div>
                </td>
                <td>
                    <img src="assets/img/transcend-6.jpg" style="width:100%">
                    <div class="text">Laying out ideas based on practicality and impact</div>
                </td>
            </tr>
        </table>
        <iframe width="100%" height="470px" src="https://www.youtube.com/embed/zKzs3tDoRsA" frameborder="0" allowfullscreen></iframe>


        <!-- <p><b>NOT PRODIVED</b></p> -->
        <p>There are two briefs: Allowing anyone to erase the last 1 - 5 ideas they’ve had with a portable device, and embedding any existing sensor under someone’s skin. I chose to embrace one and push back the other. The process of completing the project
            demanded thinking and stretching ethical meanings.</p>

        <h1>Next</h1>
        <p>Technology as a tool is powerful in ways that are often overlooked. Becoming incredibly aware of the pathways we eliminate through decision making needs to become as natural as an intuition would be.</p>






    </div>
</article>
