<article class="article" id="article-leveled-self">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Unreal</b>
            </h1>
            <h1 class="subtitle">
                A VR supply chain for receiving doses of inspirations and perspectives
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <p><i>Simulating a drug experience in virtual reality.</i></p>
<br><br>
        <table style="width:100%;">
            <tr>
                <th style="width:33%; padding-bottom: 5px;">Project Info</th>
                <th style="width:33%; padding-bottom: 5px;">Skills</th>
                <th style="width:33%; padding-bottom: 5px;">Impact</th>
            </tr>
            <tr>
                <td style="width:33%;">10 Weeks Project</td>
                <td style="width:33%;">Interaction Design</td>
                <td style="width:33%;">Project led to</td>
            </tr>
            <tr>
                <td style="width:33%;">Mixed Reality class</td>
                <td style="width:33%;">Experience Design</td>
                <td style="width:33%;">Microsoft Hololens'</td>
            </tr>
            <tr>
                <td style="width:33%;">Architecture Program at CCA</td>
                <td style="width:33%;">Motion Design</td>
                <td style="width:33%;">sponsorship at CCA</td>
            </tr>
        </table>

<br><br><br><hr><br><br><br>

        <iframe width=100% height="470" src="https://www.youtube.com/embed/grEFIcISoZw" frameborder="0" allowfullscreen></iframe>
        <p>
            This is a screen recorded video of the final world built in Unreal Engine.
        </p>
<br><br>
        <h1>Introduction</h1>

        <p> When we decided to use VR to simulate a drug experience, we made some clear decisions about the content we create and include.
            <ul>
                <li style="display: block;" >Living things had to disappear to create an environment for solitary thinking.</li>
                <li style="display: block;" >Light and scale would play an important role in distorting reality. </li>
                <li style="display: block;" >Skewing gravity could increase the unfamiliarity of a world.</li>
            </ul>
        </p>
        <br>

        <h1>Approach</h1>

      <p>By moving from an abstract environment to a familiar environment through engaging the act of “level design” terms allowed us to alter architectural forms for interaction.</p>
        <br>
        <img src="assets/img/leveled-self-brainstorming.jpg" style="width:100%">
        <div class="text">Generating loose ideas and aligning ideas among teammates</div>


        <br>
        <iframe src="https://my.mindnode.com/gX7SEQTKgQMVTXpZm4k9yWydw9ecdEhfyrxe4kR3/em#134,32,-5" frameborder="0" marginheight="0" marginwidth="0" style="border: 1px solid rgb(204, 204, 204); width: 100%; height: 500px;" onmousewheel=""></iframe>
        <div class="text">Laying out content and categorizing</div>
        <br>

        <p>
            <!-- This is an introduction to this project. We discussed what we were exploring and the intensions behind it. -->
        </p>
        <iframe width="100%" height="470" src="https://www.youtube.com/embed/ixso-Y17yPo" frameborder="0" allowfullscreen></iframe>

        <p>
            This is an introduction to this project. The team discussed what we were exploring and the intentions behind it.
        </p>        <!-- <div class="text">From left to right: Instructor Jason Anderson, Rajah Bose, Victor Lu, Weiwei Hsu, and Nathaniel Smith.</div> -->
        <p>A project with <a href="http://www.rajahbose.net" target="_blank">Rajah Bose</a>, <a href="https://www.behance.net/rudolf"target="_blank">Victor Lu</a>, and <a href="http://nathanielsmith.io"target="_blank">Nathaniel Smith</a> under <a href="http://studioanomalous.com/about/" target="_blank">Jason Anderson</a>.</p>

        <br>

        <h1>Next</h1>
        <p>
            We explored how video game engines can influence the perception and communication of spatial environments, and cultivate different sources of inspiration. This study also has implications on the potential of live rendering and of providing different flavors of inspirations which are exciting areas to explore.
        </p>
    </div>


</article>
