<article class="article" id="article-thinking-wrong">
    <div class="banner" ng-style="resizeHeight(0)">

        <div class="article-heading">
            <h1>
                <b>Thinking Wrong</b>
            </h1>
            <h1 class="subtitle">
                The secret project to fuel meaningful actions
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>
            Launched the first class in summer 2015, Secret Project is an immersive class allowing all students from different cultural and skill background to work on real world challenges in partnership with clients, organizations, and companies in the Bay Area.
        </p>

        <h1>Focus</h1>
        <p>
            Imagine a society where there are global mispriorities especially on the over-emphasis to the achievement of social status and the lack of attention to climate change. Most actions taken by participants of the society do not consider the harmony between
            themselves and the environment. This is not hypothetical, it was and it continues to be our biggest challenge of all time.
        </p>
        <h1>Approach</h1>
        <p>
            The complication of these mispriorities are massive in scale. We decided to identify actionable streams to work on:
            <ul>
                <li> Give talks and run intensive workshops. </li>
                <br>
                <li> Becoming more conscious of problems that have been masked in noises lowers the possibility to tackle entangled messes collectively. Ideate and execute environment related projects.</li>
                <br>
                <li> The effectiveness of talking always need to be amplified by relevant and meaningful actions. Modulate and scale.</li>
                <br>
                <li> Aligning priorities at a size that ispertinent is essential in confronting wicked problems.</li>
                </ui>
        </p>

        <p><b>Blitzes</b></p>
        <p>
            Secret Project Taiwan 2016
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-blitz/index.html" frameborder="0" allowfullscreen></iframe>
        <p>
            Secret Project Taiwan 2016 in VR
        </p>
        <iframe src="http://www.weiweihsu.com/sptw/" height="470" width="100%" style="border:none;"></iframe>
        <p>
            Daily videos of Secret Project Taiwan 2016
        </p>
        <iframe width="100%" height="470" src="https://www.youtube.com/embed/videoseries?list=PLn0IR8SPvGI-ZqkvjmYBi4vz2rWo0ch8v" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Talks</b></p>
        <p>
            Week long intensive workshops teach participants the Think Wrong methodology through solving partners’ social and business challenges creatively.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-talk/index.html" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Going off the Grid</b></p>
        <p>
            With support from the <a href="http://sefmicrogrid.com">StoneEdge MicroGrid Project</a> in Sonoma, we are assisting TouCheng Leisure Farm in going off the grid. In Winter 2016, we installed The Energy Detective on all of the junction boxes
            on their property and will monitor their usage of electricity for twelve months.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-energy/index.html" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Bamboo Bikes</b></p>
        <p>
            At TouCheng Leisure Farm, there is a healthy amount of bamboo growing. After several discussions and seeing our <a href="http://projectmlab.com/Alabamboo-Make-Ride">past works</a>, they invited us to set up a bamboo bike shop for them in two
            20 feet shipping containers.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-bike/index.html" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Think Wrong Labs</b></p>
        <p>
            <!-- WORDS WILL GO HERE -->
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-lab/index.html" frameborder="0" allowfullscreen></iframe>

        <br>
        <br>
        <br>
        <h1>Next</h1>
        <p>
            As a project that is fueled with endless challenges, there is a need in developing a more successful on boarding experience to assist a greater audience in being pro-active. Refining our business model will allow us to move further and faster.
        </p>
        <h1>Press</h1>
        <ul>
            <li><a href="https://www.cca.edu/news/2015/11/24/student-takes-secret-project-abroad"> Student takes secret project abroad</a></li>
        </ul>


    </div>
</article>
