<article class="article" id="article-thinking-wrong">
    <div class="banner" ng-style="resizeHeight(0)">

        <div class="article-heading">
            <h1>
                <b>Thinking Wrong</b>
            </h1>
            <h1 class="subtitle">
                The secret project to fuel meaningful actions
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <p><i>What got us here won't get us there, so how might we learn to be courageous, and how might we teach courage? </i></p>
<br><br>
        <table style="width:100%;">
            <tr>
                <th style="width:33%;">Project Info</th>
                <th style="width:33%;">Skills</th>
                <th style="width:33%;">Impact</th>
            </tr>
            <tr>
                <td style="width:33%;">3 Years</td>
                <td style="width:33%;">Project Management</td>
                <td style="width:33%;">Ran 6 workshops in 2 countries</td>
            </tr>
            <tr>
                <td style="width:33%;">5+ Partners</td>
                <td style="width:33%;">Workshop Facilitation</td>
                <td style="width:33%;">Reached more than 150 students</td>
            </tr>
            <tr>
                <td style="width:33%;">10+ Projects</td>
                <td style="width:33%;">Partner Relations</td>
                <td style="width:33%;">Initiated a microgrid project to take a 500 acres farm off-the-grid</td>
            </tr>
        </table>

<br><br><br><hr><br><br><br>

        <h1>Introduction</h1>
        <p>
            Launching the first class in summer 2015, Think Wrong Institute is an immersive program allowing all participants from different  to work on real world challenges in partnership with clients, organizations, and companies in the Bay Area.
        </p>
<br>
        <h1>Focus</h1>
        <p>
            Imagine a society where there are global mispriorities especially on the over-emphasis to the achievement of social status and the lack of attention to climate change. Most actions taken by participants of the society do not consider the harmony between themselves and the environment. This is not hypothetical, it was and it continues to be our biggest challenge of all time.
        </p>
<br>
        <h1>Approach</h1>
        <p>
            The effect of these mispriorities are massive in scale. We identified actionable streams to work on:
            <ul>
                <li> Give talks and run intensive workshops that support people to break away from status-quo thinking. </li>
                <br>
                <li> Identifying environemntal challenges that are typically masked in the noise of status-quo and creating actionable ways to tackle those problems. </li>
                <br>
                <li> Assisting our partners with re-framing their goals to align with environmental and social problems.</li>
                </ui>
        </p>
<br>
        <p><b>Blitzes</b></p>

        <p>
            Week-long intensive workshops teach participants the <a href="http://www.thinkwrongbook.com">Think Wrong</a> methodology through solving partners’ social and business challenges creatively.
        </p>
        <p>
            Think Wrong Taiwan 2016
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-blitz/index.html" frameborder="0" allowfullscreen></iframe>
<br>
        <p>
            Think Wrong Taiwan 2016 in a 360° photo
        </p>

        <iframe src="assets/vr/sptw/index.html" height="470" width="100%" style="border:none;"></iframe>
<br>
        <p>
            Daily videos of Think Wrong Taiwan 2016
        </p>
        <iframe width="100%" height="470" src="https://www.youtube.com/embed/videoseries?list=PLn0IR8SPvGI-ZqkvjmYBi4vz2rWo0ch8v" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Talks</b></p>
        <p>
            By exposing future participants and potential thought partners to the mothodology of thinking wrong is a way to encouraging them to break away from servicing the status-quo.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-talk/index.html" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Going off the Grid</b></p>
        <p>
            With support from the <a href="http://sefmicrogrid.com">Stone Edge Microgrid Project</a> in Sonoma, we are assisting <a href="http://www.tcfarm.com.tw/en/html/aboutus.asp">TouCheng Leisure Farm</a> in going off the grid. In Winter 2016, we installed The Energy Detective on all of the junction boxes on their property and will monitor their usage of electricity for twelve months. Afterwards we would provide them with proposals of energy generation and storage solutions,
             which will allow them to take their propoerty off of the traditional grid system.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-energy/index.html" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Bamboo Bikes</b></p>
        <p>
            At TouCheng Leisure Farm, there is a healthy amount of bamboo growing. After several discussions and seeing our <a href="http://projectmlab.com/Alabamboo-Make-Ride">past works</a>, they invited us to set up a bamboo bike shop for them in two 20 feet shipping containers.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-bike/index.html" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <p><b>Think Wrong Labs</b></p>
        <p>
            Being bold is often risky and hence scary. Having a safe space to think wrong enables us to ask stupid questions and make weird random small bets without worrying about punishments.
        </p>
        <iframe width="100%" height="470" src="assets/slideshows/thinking-wrong-lab/index.html" frameborder="0" allowfullscreen></iframe>

        <br>
        <br>
        <br>
        <h1>Next</h1>
        <p>
            Until now, we have been focusing on producing and maintaining a few projects a year, with the hope of building towards a more consistent engagement model which envolves more partner institutions as we continue to make sense of and confront wicked problems.
        </p>
        <h1>Press</h1>
        <ul>
            <li><a href="https://www.cca.edu/news/2015/11/24/student-takes-secret-project-abroad"> Student takes secret project abroad</a></li>
        </ul>


    </div>
</article>
