<article class="article" id="article-valence">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Valence
            </h1>
            <h1 class="subtitle">
                Including car batteries into the energy grid
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>
            No matter where we live, we are all likely to have a poor understanding of how we create pollution footprint. There isn’t a energy label on the products we purchase, we don’t see the change in price of electricity like we do at stock market. / While all
            of the products we use are energy dependent, we are not leveraging technology to create an efficient energy network. In a team of three, we reimagined the way we consume, store, and distribute energy.
        </p>
        <h1>Focus</h1>
        <p>As a sponsored project, we looked at how Ford might elegantly transition to an auto and mobility company by mitigating the impact of its energy dependent products and increasing private clean energy solutions in the city of San Francisco.

            <h1>Approach</h1>
            <p>TBD</p>

            <h1>Next</h1>

            <p>A quick dive into energy generation, distribution, and consumption is a great way to expose myself in an area. To move forward, devoting more attention toward understanding the details of the extensive energy network will equip me to make
                relevant contribution.
            </p>


    </div>
</article>
