<article class="article" id="article-valence">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                <b>Valence</b>
            </h1>
            <h1 class="subtitle">
                Including car batteries into the energy grid
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <h1>Introduction</h1>
        <p>
            No matter where we live, we are all likely to have a poor understanding of how we create pollution footprint. There isn’t a energy label on the products we purchase, we don’t see the change in price of electricity like we do at stock market. / While all
            of the products we use are energy dependent, we are not leveraging technology to create an efficient energy network. In a team of three, we reimagined the way we consume, store, and distribute energy.
        </p>
        <h1>Focus</h1>
        <p>As a sponsored project, we looked at how Ford might elegantly transition to an auto and mobility company by mitigating the impact of its energy dependent products and increasing private clean energy solutions in the city of San Francisco.
        </p>
        <h1>Approach</h1>
        <p>Synthesizing secondary research materials mainly from Saul Griffith, Bret Victor, and David Mackey, we understood that: -As individuals, we must budget our lifestyle to only consume 12,000 watt per year. - To fully transition into a renewable
            energy era, the storage of electricity is what’s missing from current energy infrastructure. valence-1 Our (current) path to 6°C warming. valence-2 Our (preferred) path for 2°C warming. valence-3 Actual and required battery growth rates. As
            one may have noticed, the current battery growth rate is not looking optimistic at all. | What if, cars’ batteries become part of the battery storage network? It is very plausible to design and manufacture smart batteries that can be trading
            in and out electricity for storage and usage depending on the current electricity rate. See this page for all research links on future trends for cars and city formations, energy consumption, and software infrastructure. See this page to view
            synthesized research on all topics.
        </p>

        <br>
        <p><b>Discover</b></p>

        <p>Conducting secondary research materials mainly from Saul Griffith, Bret Victor, and David Mackey, we understood that as individuals, we must budget our lifestyle to only consume 12,000 watt per year. In addition to that, currently, the storage of electricity is what’s missing from current energy infrastructure.</p>

        <img src="assets/img/valence-1.png" style="width:100%">
        <div align="center" class="text">Our (current) path to 6°C warming</div>

        <img src="assets/img/valence-2.png" style="width:100%">
        <div align="center" class="text">Our (preferred) path = 2°C warming</div>

        <img src="assets/img/valence-3.png" style="width:100%">
        <div align="center" class="text">Actual and required battery growth rates</div>


        <br>
        <p><b>Determine</b></p>

        <p>As one may have noticed, the current battery growth rate is not looking optimistic at all. | What if, cars’ batteries become part of the battery storage network? It is very plausible to design and manufacture smart batteries that can be trading in and out electricity for storage and usage depending on the current electricity rate. See this page for all research links on future trends for cars and city formations, energy consumption, and software infrastructure. See this page to view synthesized research on all topics. </p>

        <br>
        <p><b>Define</b></p>
        To understand how energy is distributed and what would be our boundary of effect, there were many variations of mapping of the energy network. Eventually, we concluded with a simple animated system diagram to explain the addition created by us in our proposed energy network.

        <img src="assets/img/valence-4.png" style="width:100%">
        <div align="center" class="text">Mapping the links between City of San Francisco, Ford, and customers </div>

        <img align="center" src="assets/img/valence-5.jpg" style="width:100%">
        <div align="center" class="text">Mapping the current energy infrastructure and identifying the gap</div>

        <img align="center" src="assets/img/valence-7.png"  style="width:100%">
        <div align="center" class="text">Animating the to-be-proposed energy infrastructure</div>

        <mov align="center" src="assets/movies/valence.mp4" style="width:100%">
        <div align="center" class="text">An animated system map of the current method of energy distribution and the new energy network</div>


        <br>
        <p><b>Deliver</b></p>
        <br>
        The final proposal of this project was to turn electrical car batteries into electricity storage spaces and hence redefining what it means to move energy from space to space. By using the sharing economy to transport and store energy, it also intend to leverage the embedded energy of cars to a greater degree.

        <iframe height="315" src="https://www.youtube.com/embed/lDpaEeT6ic0" style="width:100%" frameborder="0" allowfullscreen></iframe>

        <img src="assets/img/valence-6.JPG" style="width:100%">
        <div align="center" class="text">Final presentation</div>

        A project with <a href="http://nathanielsmith.io" target="_blank">Nathaniel Smith</a> and <a href="http://www.vergilshi.com" target="_blank">Vergil Shi</a> under <a href="http://www.haakonfaste.com" target="_blank">Haakon Faste</a>.

        <h1>Next</h1>

        <p>A quick dive into energy generation, distribution, and consumption is a great way to expose myself in an area. To move forward, devoting more attention toward understanding the details of the extensive energy network will equip me to make relevant
            contribution.
        </p>


    </div>
</article>
