<article class="article" id="article-xnode-accelerator">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
              <b>XNode Accelerator</b>
            </h1>
            <h1 class="subtitle">
                An internal culture incubation
            </h1>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">

        <p><i>Growing a community is the best approach toward organic developments.</i></p>
<br><br>
        <table style="width:100%;">
            <tr>
                <th style="width:33%; padding-bottom: 5px;">Project Info</th>
                <th style="width:33%; padding-bottom: 5px;">Skills</th>
                <th style="width:33%; padding-bottom: 5px;">Impact</th>
            </tr>
            <tr>
                <td style="width:33%;">1 Year</td>
                <td style="width:33%;">Community Design</td>
                <td style="width:33%;">Created visual guidelines for promotional materials</td>
            </tr>
            <tr>
                <td style="width:33%;">5+ Projects</td>
                <td style="width:33%;">Communication Design</td>
                <td style="width:33%;">Delivered weekly inspiration digests</td>
            </tr>
            <tr>
                <td style="width:33%;"></td>
                <td style="width:33%;">Team Building</td>
                <td style="width:33%;"></td>
            </tr>
        </table>

<br><br><br><hr><br><br><br>

        <h1>Introduction</h1>
        <p>There is always some unavoidable friction as a startup grows and bonds. As the only designer in the founding team, I focused on developing our internal culture, voice, and brand.  While having many discussions around our aspirations with the company, I laid out several topics to focus on, in order to make progress.</p>
        <h1>Focus</h1>
        <p>Communicate our vision and values in ways that are tangible for the team and clients.</p>
        <h1>Approach</h1>
        <p>
            <ol>
                <li>Grounding our passion and ideology with weekly creative digests, a series of posters, and internal talks about cultivating culture. </li>


                <iframe width="100%" height="470" src="assets/slideshows/xnode-collect/index.html" frameborder="0" allowfullscreen></iframe>
                <p>The first episode of "Collect", a bi-weekly design digest initiaed to breath in freshness from other parts of the world</p>
                            <img src="assets/img/xnode-8.JPG" style="width:100%">
                            <div class="text">An internal talk on maker spaces and community building</div>

                <p><b>Posters in Shanghainese</b></p>
                <table>
                    <tr>
                        <td>
                            <img src="assets/img/xnode-5.jpg" style="width:100%">
                            <div class="text">How are you?</div>
                        </td>
                        <td>
                            <img src="assets/img/xnode-6.jpg" style="width:100%">
                            <div class="text">Have you played today?</div>
                        </td>
                        <td>
                            <img src="assets/img/xnode-7.jpg" style="width:100%">
                            <div class="text">Amazing!</div>
                        </td>
                    </tr>
                </table>
                <img src="assets/img/xnode-2.png" style="width:100%">
                <li> Produce imaginative promotional materials for reinforcing our values </li>

                <table padding-left="20px" padding-right="20px">
                    <tr>
                        <td>
                            <img src="assets/img/xnode-10.png" style="width:100%">
                            <div class="text">Christimas wishes on WeChat moment</div>
                        </td>
                        <td>
                            <img src="assets/img/xnode-11.jpg" style="width:100%">
                            <div class="text">Christimas wishes on WeChat moment</div>

                        </td>
                    </tr>
                </table>
                <br><br>
                <li> Write articles for their publication on WeChat (id:XNodeChina).</li>

                <!-- <img src="assets/img/xnode-12.jpg" style="width:250px" padding-left="20px" padding-right="20px">
                <div class="text">Special edition debit card launched by China Merchants Bank</div> -->

            </ol>
        </p>
        <h1>Next</h1>
        <p>Since contributing to XNode and hence seeing the landscape of community building, a greater understanding toward how community is the best catalyst has broadened my definition toward the idea of ‘we’. </p>
    </div>
</article>
