<article class="article" id="article-bridge">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Bridge
            </h1>
            <h2 class="subtitle">
                An attempt to imagine a massive multiplayer offline game.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

##Introduction
It is very easy to turn toward the devices we carry at many different kinds of social environments. Having an alibi to initiate a conversation can often make the process simple
##Focus
Understand effective ways to encourage simple social interactions. Prototype a proof of concept with accessible materials and tools such as laser cutting and photon.
##Approach
TBD see documentation
##Next
The element of play can certainly dial up the joy in the world. This project definitely shed light on the possibility to weave play into different types of interfacing both offline and online.

{{/markdown}}

    </div>
</article>
