<article class="article" id="article-creative-sketches">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Creatie Sketches
            </h1>
            <h2 class="subtitle">
                Exploring visual pathways.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

##Introduction
When I decided to hone my skills in communicating in visual languages, I took on small challenges from time to time in order to transition between mediums seamlessly in the future.
##Focus
Some promote specific events, some summarizes conversations, and others simply demonstrate an exploration.
##Approach
Label different explorations
##Next
Having the ability to create visible evidences is extremely powerful. In the future, there will be an emphasis in enhancing my skills in creating interactive hardware and software to communicate intricate / delicate messages.
{{/markdown}}

    </div>
</article>
