<article class="article" id="article-thinking-wrong">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Thinking Wrong
            </h1>
            <h2 class="subtitle">
                The secret project to fuel meaningful actions
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

##Introduction
Launched its first class in summer 2015, Secret Project is an immersive class allowing all students from different cultural and skill background to work on real world challenges in partnership with clients, organizations, and companies in the Bay Area.

##Focus
Imagine a society where there are global mispriorities especially on the over-emphasize to the achievement of social status and the lack of attention to climate change. Most actions taken by participants of the society do not consider the harmony between themselves and the environment. / This is not hypothetical, it was and it continues to be our biggest challenge of all time.

##Approach
The complication of these mispriorities are massive in scale. We decided to identify actionable streams to work on: Give talks and run intensive workshops - Becoming more conscious of problems that have been masked in noises lowers the possibility to tackle entangled messes collectively. Ideate and execute environment related projects - The effectiveness of talking always need to be amplified by relevant and meaningful actions. Modulate and scale - Aligning priorities at a size that is pertinent is essential in confronting wicked problems.

##Next
As a project that is fueled with endless challenges, there is a need in developing a more successful on boarding experience to assist a greater audience in being pro-active. Refining our business model will allow us to move further and faster.


{{/markdown}}

    </div>
</article>
