<article class="article" id="article-xnode-accelerator">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                XNode Accelerator
            </h1>
            <h2 class="subtitle">
                An internal culture incubation .
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

##Introduction
There are always some unavoidable friction as a startup grow and bond. As the only designer in the founding team, I focused on developing our internal culture, voice, and brand.  While having many discussions around our aspirations with the company, an approach had to be laid out to make progress.
##Focus
Communicate our vision and values in ways that are tangible for the team and clients.
##Approach
1. Grounding our passion and ideology with weekly creative digests, a series of posters, and internal talks about cultivating culture. / 2. Produce imaginative promotional promotional materials for   reinforcing the our values / 3. Write articles for their publication on WeChat.
##Next
Since contributing to XNode and hence seeing the landscape of community building, a greater understanding toward how community is the best catalyst has broadened my definition toward the idea of ‘me’.
{{/markdown}}

    </div>
</article>
