<article class="article" id="article-cyborg">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Cyborg
            </h1>
            <h2 class="subtitle">
                Confronting the unknown future with ethics.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

##Introduction
Very often, incremental progresses are made in ways that we neglect the power of accumulation. This project explored and challenged the my comfortability with the notion of direct manipulation of living creatures, specifically humans.
##Focus
There are two briefs: Allowing anyone to erase the last 1 - 5 ideas they’ve had with a portable device, and embedding any existing sensor under someone’s skin. I chose to embrace one and push back the other. The process of completing the project demanded thinking and stretching ethical meanings.
##Approach
To lend credibility to a breakthrough technology, the appearance of the product plays an important role. /  To communicate the great uncertainties in this area, a video sketch can express our concerns adequently.
##Next
Technology as a tool is powerful in ways that are often overlooked. Becoming incredibly aware of the pathways we eliminate through decision making needs to become as natural as an intuition would be.
{{/markdown}}

    </div>
</article>
