<article class="article" id="article-leveled-self">
    <div class="banner" ng-style="resizeHeight(0)">
        <div class="article-heading">
            <h1>
                Leveled Self
            </h1>
            <h2 class="subtitle">
                A supply chain for receiving doses of inspirations and perspectives.
            </h2>
        </div>
        <a class="close-article" back-to-gallery href="">
            <svg viewBox="0 0 80 80">
                <use xlink:href="#close-button"></use>
            </svg>
        </a>
    </div>
    <div class="article-body">


{{#markdown}}

##Introduction
When we decided to curate experiences that audiences of different kinds wouldn’t have in other ways, we made some clear decisions about the content we create and include. -Living things had to disappear to create an environment for solitary thinking. - Both light and scale would play an important role in enabling different types of feelings. - Skewing the gravity in this world is one way to blend reality and virtual reality together.
##Focus
TBD
##Approach
Moving upward on a ladder from abstraction to a familiar environment by engaging the act of “level design” in game design terms to create architectural spaces for interaction.
##Next
We explored how video game engines can influence the perception and communication of spatial environments, and cultivate different sources of inspiration. / This study also has implications toward the powerfulness of live rendering and of providing different flavors of inspirations which are exciting areas to explore.

{{/markdown}}

    </div>
</article>
